/*Universal CSS*/

    body {
    margin: 0px;
    padding: 0px;
}

    .nav {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    opacity: 85%;
    /* margin-bottom:00px; */
}

    .logo {
    width: 150px;
    margin-left: 20px;
    /*border: 1px solid black; /* solid, 3D's - double, dotted, dashed*/
}

    .logo-img {
    width: 100%;
}

    .menu {
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    /* between, equal, around */
    flex-wrap: wrap;
}

    .p {
    font-size: x-large;
    font-weight: bold;
    font-family: Cambria, Cochin;
}

    a:hover{
        color:orangered;
}

    a {
    text-decoration: none;
    color: white;
}

    .container{
    
    /* height: 551px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top:75px;
}

    .footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #e5e3e3;
    justify-content: space-evenly;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    font-weight: 500;
    color: black;
    padding-bottom: 35px;
}

    :hover.pf {
    color: red;
    cursor: pointer;
}

    hr {
    margin: 0px;
}

    .downfooter {
    background-color: #e5e3e3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    gap:15px;
}
    .center{
    display:flex;
    flex-direction: row;
    align-items: center;
    }

    .right{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap:5px;
    align-items: start;
    }

    .footerLogo{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    height:30px;
    margin-left:5px;
    margin-right:5px;
    }

                        /*----------------------------------------------------*/


/*Home Page CSS*/

    .homeBg {
    width: 100%;
}

                        /*----------------------------------------------------*/


/*Motorcycle Page CSS*/

    .card {
    background-color: rgb(252, 197, 94);
    height: 450px;
    width: 280px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    border:1.5px solid black;
    margin-left:18px;
    margin-right:18px;
}

    :hover.card{
    box-shadow: 5px 5px 10px black;

}

    .cardImg {
    width: 260px;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 0px;
    border:1px solid black;
}

    h2 {
    text-align: center;
    background-color: black;
    color: wheat;
}

    .desc {
    margin: 4px;
}

    .motorImg{
    width: 100%;
    border:2px solid black;
    /* padding-left:2px;
    padding-right:2px; */
}
                        /*----------------------------------------------------*/

/*About Page CSS*/

    .aboutBg {
    height: 100%;
    width: 100%;
}

                        /*----------------------------------------------------*/

/*Contact Page CSS*/

    .containerContact{
    background-image:url(../Images/contactUsBg\ Page\ Img.avif);
    width: 100%;
    height: 555px;
    padding-top:75px;
}
    .contactBg {
    width: 100%;
}
    .contactBtn{
    position:absolute;
    margin-top: 200px;
    margin-left: 250px;
    height:80px;
    width: 150px;
    color:white;
    background-color: rgb(255, 98, 40);
    border:3px solid black;
    border-radius: 20px;
    font-size: larger;
    font-weight: 550;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    }
    .contactBtn:hover{
        cursor: pointer;
        color:black;
        background-color: white;    
    }

                        /*----------------------------------------------------*/

/*Form Page CSS*/

    .formContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../Images/contactUsBg\ Page\ Img.avif);
    padding-top:75px;   
    }

    .form{
    background-color: black;
    border:2px solid white;
    border-radius: 10px;
    opacity: 80%;
    color: wheat;
    width:300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding:40px;
    margin-top:15px;
    padding-top:20px;
    }

    input{
    height:26px;
    width: 200px;
    margin-top:2px;
    }

    textarea{
    margin-top:5px ;
    }

    .submit{
    height:35px;
    width: 200px;
    background-color: greenyellow;
    }
