.navbar{
    height: 100px;
    width: 100%;
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0px 10px;
}
.logo{
    height: 90%;
    width: 10%;
    background-color: blueviolet;
}
.menu{
    height: 90%;
    width: 75%;
    background-color:aqua;
}