.landPg{
    margin: 0px;
    height: 100vh;
    background-image:url(./LandingPageImage.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.landingPgBtns{
    /* background-color: aqua; */
    width: 32%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transform: translate(10px, 40px); 
}
.btn{
    background-color: black;
    color: whitesmoke;
    height: 100%;
    padding: 2%;
    border: 3px solid black;
}
.existingInfoTable{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table{
    border:2px solid black;
    height: 200px;
    width: 400px;
    text-align: center;
    font-size: x-large;
    background-color: azure;
    margin-bottom: 40px;
}
th,td{
    border: 1px solid black;
}
h1{
    background-color:azure;
    text-align: center;
    border: 2px solid black;
}
.ipDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    margin:0px 350px;
    margin-bottom: 20px;
    padding:20px 0px;
    font-size: large;
    background-color: azure;
}

label{
    font-size: larger;
}
input{
    height: 25px;
    width: 120px;
    border:2px solid black;
    border-radius: 5px;
    font-size: medium;
}
button{
    background-color:darkblue;
    color: azure;
    margin-left: 20px;
    height: 35px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: large;
    cursor: pointer;
}
#dispBalance{
    text-align: center;
    font-size: x-large;
    font-weight: 500;
    margin:20px 400px;
    padding:5px;
    border:1px solid black;
    border-radius: 10px;
    background-color: azure;
}
.twobtns{
    display: flex;
    justify-content: center;
}


.form-popup {
  display: none;
  position: fixed;
  top: 20%;
  left: 35%;
  transform: translate(0%, -32%);
  border: 2px solid #666;
  z-index: 9;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px gray;
}

.form-container input[type="text"],
.form-container input[type="number"] {
  width: 50%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

.form-container button {
  margin-top: 10px;
}

.cancel {
  background-color: red;
  color: white;
}

body{
    background-color: coral;
    margin: 0px;
    padding: 0px;
}